<% if @spot.photo.present? %>
  <div class="row mb-3">
    <div class="col-11" style="text-align: center;">

        <img src="<%= @spot.photo %>" style="width: 30%; height: auto;" >
      
    </div>
  </div>
<% end %>
<%= form_for @spot,  html: { multipart: true, id: "spot_form" } do |f| %>

  <div class="form-row">

    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <%= f.label :name, "Nome do local: " %>
      <%= f.text_field :name, placeholder: "Nome do local", class: "form-control", required: "required" %>
    </div>

    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <%= f.label :governance, "Orgão: " %>
      <%= f.text_field :governance, value: "Prefeitura de Fortaleza", required: "required", placeholder: "Nome do local", class: "form-control", readonly: "readonly" %>
    </div>


    <div class="form-group col-sm-12 col-md-11 offset-md-1 col-lg-9">
      <%= f.label :tasks, "Tarefas: " %>
      <select class="selectpicker form-control" multiple data-live-search="true" name="spot[task_ids][]" required="required" id="tasks">
        <% @tasks.each do |t| %>
          <option value="<%= t.id %>"><%= t.name %></option>
        <% end %>
      </select>
    </div>



    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4 ">
      <%= f.label :clean_type, "Dias de limpeza leve: " %>
      <%# select_tag(:clean_type, options_for_select([ ['Leve', 1], ['Pesado', 2], ['Muito pesado', 3] ]), class: "form-control" ) %>

      <select class="selectpicker form-control" multiple data-live-search="true" name="spot[light_cleaning][]" required="required" id="light_cleaning">
        <option value="2">Segunda</option>
        <option value="3">Terça</option>
        <option value="4">Quarta</option>
        <option value="5">Quinta</option>
        <option value="6">Sexta</option>
        <option value="7">Sábado</option>
        <option value="8">Domingo</option>
      </select>
    </div>



    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4 ">
      <%= f.label :clean_type, "Dias de limpeza pesada: " %>

      <select class="selectpicker form-control" multiple data-live-search="true" name="spot[heavy_cleaning][]" required="required" id="heavy_cleaning">
        <option value="2">Segunda</option>
        <option value="3">Terça</option>
        <option value="4">Quarta</option>
        <option value="5">Quinta</option>
        <option value="6">Sexta</option>
        <option value="7">Sábado</option>
        <option value="1">Domingo</option>
      </select>
    </div>


    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <%= f.label :status, "Status: " %> <br/>
      <%= f.select :status, [["A fazer","0"],["Aguardando verificação", "1"], ["Completado", "2"], ["Tarefas pendentes","3"] ], {include_blank: "Selecione"}, { :class => 'form-control', required: "required" } %>
    </div>

    <div class="form-group col-sm-6 offset-md-1 col-md-2 col-lg-2">
      <%= f.label :lat, "Latitude: " %>
      <%= f.text_field :lat, class: "form-control", required: "required" %>
    </div>

    <div class="form-group col-sm-6 ml-md-auto ml-lg-0 col-md-2 col-lg-2">
      <%= f.label :long, "Longitude: " %>
      <%= f.text_field :long, class: "form-control", required: "required" %>
    </div>

    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <%= f.label :photo, "Foto do local: " %>
      <div class="custom-file">
      <%= f.file_field :photo, class: "file", id: "customFile"%>
      <label class="custom-file-label" for="customFile">Selecionar Arquivo</label>
      </div>
    </div>

    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <!-- MAPA GOOGLE -->

    </div>

    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <%= f.label :user, "Zelador responsável: " %><br/>
      <%= f.select :user_id, @caretakers.collect {|c| [ c.name, c.id ] }, {include_blank: 'Nenhum'}, {class: "form-control"} %>
    </div>




    </div> <!-- div.form-row -->

    <div class="form-row mt-3">
      <div class="col-12 col-md-11 offset-md-1 col-lg-9">
        <%= link_to "Cancelar", spots_path, class: "btn btn-primary" %>
        <%= f.submit "Salvar", class: "px-4 btn btn-primary float-right" %>
      </div>
    </div>




<% end %>

