<div class="container">
  <div class="row">

    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <label> Nome do local: </label>

      <input value="<%= @spot.user.name unless @spot.user.blank? %>" class="form-control">
    </div>

    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <label> Orgão: </label>
      <input value="<%= @spot.governance %>" class="form-control">
    </div>

    <div class="form-group col-sm-12 col-md-11 offset-md-1 col-lg-9">
      <label> Tarefas: </label>
      <div>
        <% @spot.tasks.each do |s| %>
          <%= s.name %>
          <br/>
        <% end %>
      </div>

    </div>





    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <label>Zelador responsável: </label>
      <%= @spot.user.name unless @spot.user.blank? %>
    </div>


    <div class="form-group col-sm-12 col-md-5 offset-md-1 col-lg-4">
      <label>Nome do local: </labe>
      <p><%= @spot.name unless @spot.name.blank? %><p>
    </div>



    </div>
</div>
