<div class="mt-5">
<%= link_to new_user_path, class: "ml-2 tableBt float-sm-right btn btn-outline-primary" do %>
  <i class="fa fa-plus"></i> Novo Usuário
<% end %>
<table class="pull-up display responsive no-wrap" id="users_table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Qtde. locais</th>
      <th class="nosort">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%= s.role_br %></td>
      <td>
      <% if s.caretaker? %>
      <%= s.spots.count %>
      <% else %>
      -
      <% end %>
      </td>
      <td>
        <%= link_to "#" do %><i class="far fa-eye" data-toggle="modal" data-target="#modal<%=s.id%>"></i><% end %>
        <%= link_to edit_user_path(s) do %><i class="ml-0 ml-md-1 ml-lg-3 fas fa-edit"></i><% end %>
        <%= link_to user_path(s), method: :delete, 'data-confirm': "Você tem certeza que deseja excluir esse usuário?", 'data-method': "delete" do %><i class="ml-0 ml-md-1 ml-lg-3 far fa-trash-alt"></i><% end %>
      </td>
    </tr>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="modal<%=s.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= s.name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">

                <div class="col-6 col-lg-3">
                    <b>Matrícula:</b> <%= s.registration %>
                </div>

                <div class="col-12 col-sm-6 col-lg-6">
                  <b>Email: </b><%= s.email %>
                </div>

                <div class="col-6 col-lg-3">
                  <b>Tipo: </b><%= s.role_br %>
                </div>

              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <b>Responsável por: </b><div>
                  <% s.spots.each do |spot| %>

                    <div class="img-container m-2">
                      <% if spot.photo.present? %>
                      <img src="<%= spot.photo %>">
                      <% else %>
                      <img src=""> <!-- TODO No image avaliable -->
                      <% end %>
                      <div class="overlay">
                        <span><%= spot.name %></span>
                      </div>
                    </div>

                  <% end %>
                  </div>
                </div>




              </div>



            </div>

          </div>
          <div class="modal-footer">
            <%= link_to "Editar", edit_user_path(s), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </tbody>
</table>
</div>




<script>
$('#users_table').DataTable({
  "responsive": true,
  "bInfo": false,
  "bLengthChange": false,
  'aoColumnDefs': [{
    'bSortable': false,
    'aTargets': ['nosort']
  }],
  "order": [[ 0, "asc" ]],
  "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
        }
});

</script>
